<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<div layout:fragment="content" class="container">
    <div th:switch="${users}">
        <h2 th:case="null">Não existe usuários cadastrados</h2>
        <div th:case="*">
            <div class="arrow">
                <h2>Usuários</h2>
            </div>
            <div>
                <p class="text-right">
                    <button class="btn btn-primary" id="btn-novo-usuario" data-toggle="modal" data-target="#usuarioModal">
                        Novo usuário
                    </button>
                </p>
            </div>
            <table id="table-user" class="table table-striped">
                <thead>
                <tr class="text-center">
                    <th style="display:none;" scope="col">id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Desativado</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:each="user : ${users}">
                    <td id="id" style="display:none;" th:text="${user.id}"></td>
                    <td id="username" th:text="${user.username}"></td>
                    <td id="email" th:text="${user.email}"></td>
                    <td id="role" th:text="${user.role}"></td>
                    <td><input id="desativado" th:checked="${user.desativado}" name="desativado" class="form-check-input" disabled type="checkbox"></td>
                    <td>
                        <button type="button" id="btn-editar" data-toggle="modal" data-target="#usuarioModal" class="btn btn-info btn-sm">Editar</button>
                        <!--                                                <button id="btn-excluir" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">Excluir</button>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal form usuario-->
    <div class="modal fade bd-example-modal-lg" id="usuarioModal" tabindex="-1" role="dialog" aria-labelledby="usuarioModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="usuarioModalLabel">Novo usuário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card card-body">
                        <form id="form-user" th:action="@{/usuarios/adicionar}" th:object="${usuario}" method="post">
                            <div class="form-row">
                                <input th:value="${id}" style="display:none;" name="id">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input th:value="${email}" name="email" required type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4">Senha</label>
                                    <input th:value="${password}" name="password" type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputUser">Usuário para login</label>
                                    <input th:value="${username}" name="username" type="text" class="form-control" id="inputUser">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputState">Perfil</label>
                                    <select th:value="${role}" name="role" id="inputState" class="form-control">
                                        <option selected>Selecione</option>
                                        <option>Usuário admin</option>
                                        <option>Usuário padrão</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input th:checked="${desativado}" name="desativado-form" class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Desativado
                                    </label>
                                </div>
                            </div>
                            <div>
                                <button id="btn-salvar" type="submit" class="btn btn-primary">Adicionar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>
</html>